{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "node": true,
    "browser": true
  },
  "rules": {
    "semi": "off",
    "import/no-extraneous-dependencies": "off",
    "import/extensions":"off",
    "import/no-unresolved":"off",
    "react/jsx-filename-extension": "off"
  }
}
